/* src/styles/Navbar.css */

.navbar {
    background-color: #1f1f23;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .navbar img {
    height: 40px;
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    margin-right: 15px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #9146ff;
  }
  
  .nav-links a.active {
    border-bottom: 2px solid #9146ff;
  }
  
  .nav-links a:hover {
    color: #b985ff;
  }
  
  /* Add media query for smaller screens */
@media (max-width: 600px) {
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links a {
      margin-bottom: 10px;
    }
  }

  .logout-button {
    margin-left: auto;
    background-color: #e91916;
  }
  
  .logout-button:hover {
    background-color: #c01714;
  }
  